#icon_pack, #sprite_pack, #iconic-demo, #entypo-demo{
    ul, ol {
            margin: 0;
        }
	li, span {
		display: inline-block;
		list-style: none;
        height: 32px;
        width: 32px;
		margin: (@baseLineHeight /2);
        cursor: pointer;
	}
}

#sprite_pack li{
    height: 18px;
    width: 18px;
    margin: (@baseLineHeight /2 + 7px);
}
#iconic-demo span, #entypo-demo span{
    text-align: center;
    .photon-text(normal, 32px, 1px 1px 0 rgba(255, 255, 255, 0.8), 32px);
    
    &:hover{
        color: @grayDarker;
    }
}
#entypo-demo span{
    font-size: 50px;
}

// Glyphs
#mimi_glyphs li {
    background: url("../../images/photon/sprites/icons.png") no-repeat center center transparent;
    position: relative;
    top: 8px;
    left: 7px;
}
#mimi_glyphs li.i_1 {
    background-position: -18px -24px;
}
#mimi_glyphs li.i_2 {
    background-position: -60px -24px;
}
#mimi_glyphs li.i_3 {
    background-position: -101px -24px;
}
#mimi_glyphs li.i_4 {
    background-position: -143px -24px;
}
#mimi_glyphs li.i_5 {
    background-position: -185px -24px;
}
#mimi_glyphs li.i_6 {
    background-position: -227px -24px;
}
#mimi_glyphs li.i_7 {
    background-position: -268px -24px;
}
#mimi_glyphs li.i_8 {
    background-position: -310px -24px;
}
#mimi_glyphs li.i_9 {
    background-position: -352px -24px;
}
#mimi_glyphs li.i_10 {
    background-position: -393px -24px;
}
#mimi_glyphs li.i_11 {
    background-position: -18px -66px;
}
#mimi_glyphs li.i_12 {
    background-position: -60px -66px;
}
#mimi_glyphs li.i_13 {
    background-position: -101px -66px;
}
#mimi_glyphs li.i_14 {
    background-position: -143px -66px;
}
#mimi_glyphs li.i_15 {
    background-position: -185px -66px;
}
#mimi_glyphs li.i_16 {
    background-position: -227px -66px;
}
#mimi_glyphs li.i_17 {
    background-position: -268px -66px;
}
#mimi_glyphs li.i_18 {
    background-position: -310px -66px;
}
#mimi_glyphs li.i_19 {
    background-position: -352px -66px;
}
#mimi_glyphs li.i_20 {
    background-position: -393px -66px;
}
#mimi_glyphs li.i_21 {
    background-position: -18px -109px;
}
#mimi_glyphs li.i_22 {
    background-position: -60px -109px;
}
#mimi_glyphs li.i_23 {
    background-position: -101px -109px;
}
#mimi_glyphs li.i_24 {
    background-position: -143px -109px;
}
#mimi_glyphs li.i_25 {
    background-position: -185px -109px;
}
#mimi_glyphs li.i_26 {
    background-position: -227px -109px;
}
#mimi_glyphs li.i_27 {
    background-position: -268px -109px;
}
#mimi_glyphs li.i_28 {
    background-position: -310px -109px;
}
#mimi_glyphs li.i_29 {
    background-position: -352px -109px;
}
#mimi_glyphs li.i_30 {
    background-position: -393px -109px;
}
#mimi_glyphs li.i_31 {
    background-position: -18px -151px;
}
#mimi_glyphs li.i_32 {
    background-position: -60px -151px;
}
#mimi_glyphs li.i_33 {
    background-position: -101px -151px;
}
#mimi_glyphs li.i_34 {
    background-position: -143px -151px;
}
#mimi_glyphs li.i_35 {
    background-position: -185px -151px;
}
#mimi_glyphs li.i_36 {
    background-position: -227px -151px;
}
#mimi_glyphs li.i_37 {
    background-position: -268px -151px;
}
#mimi_glyphs li.i_38 {
    background-position: -310px -151px;
}
#mimi_glyphs li.i_39 {
    background-position: -352px -151px;
}
#mimi_glyphs li.i_40 {
    background-position: -393px -151px;
}
#mimi_glyphs li.i_41 {
    background-position: -18px -190px;
}
#mimi_glyphs li.i_42 {
    background-position: -60px -190px;
}
#mimi_glyphs li.i_43 {
    background-position: -101px -190px;
}
#mimi_glyphs li.i_44 {
    background-position: -143px -190px;
}
#mimi_glyphs li.i_45 {
    background-position: -185px -190px;
}
#mimi_glyphs li.i_46 {
    background-position: -227px -190px;
}
#mimi_glyphs li.i_47 {
    background-position: -268px -190px;
}
#mimi_glyphs li.i_48 {
    background-position: -310px -190px;
}
#mimi_glyphs li.i_49 {
    background-position: -352px -190px;
}
#mimi_glyphs li.i_50 {
    background-position: -393px -190px;
}
#mimi_glyphs li.i_51 {
    background-position: -18px -230px;
}
#mimi_glyphs li.i_52 {
    background-position: -60px -230px;
}
#mimi_glyphs li.i_53 {
    background-position: -101px -230px;
}
#mimi_glyphs li.i_54 {
    background-position: -143px -230px;
}
#mimi_glyphs li.i_55 {
    background-position: -185px -230px;
}
#mimi_glyphs li.i_56 {
    background-position: -227px -230px;
}
#mimi_glyphs li.i_57 {
    background-position: -268px -230px;
}
#mimi_glyphs li.i_58 {
    background-position: -310px -230px;
}
#mimi_glyphs li.i_59 {
    background-position: -352px -230px;
}
#mimi_glyphs li.i_60 {
    background-position: -393px -230px;
}
#mimi_glyphs li.i_61 {
    background-position: -18px -265px;
}
#mimi_glyphs li.i_62 {
    background-position: -60px -265px;
}
#mimi_glyphs li.i_63 {
    background-position: -101px -265px;
}
#mimi_glyphs li.i_64 {
    background-position: -143px -265px;
}
#mimi_glyphs li.i_65 {
    background-position: -185px -265px;
}
#mimi_glyphs li.i_66 {
    background-position: -227px -265px;
}
#mimi_glyphs li.i_67 {
    background-position: -268px -265px;
}
#mimi_glyphs li.i_68 {
    background-position: -310px -265px;
}
#mimi_glyphs li.i_69 {
    background-position: -352px -265px;
}
#mimi_glyphs li.i_70 {
    background-position: -393px -265px;
}
#mimi_glyphs li.i_71 {
    background-position: -18px -307px;
}
#mimi_glyphs li.i_72 {
    background-position: -60px -307px;
}
#mimi_glyphs li.i_73 {
    background-position: -101px -307px;
}
#mimi_glyphs li.i_74 {
    background-position: -143px -307px;
}
#mimi_glyphs li.i_75 {
    background-position: -185px -307px;
}
#mimi_glyphs li.i_76 {
    background-position: -227px -307px;
}
#mimi_glyphs li.i_77 {
    background-position: -268px -307px;
}
#mimi_glyphs li.i_78 {
    background-position: -310px -307px;
}
#mimi_glyphs li.i_79 {
    background-position: -352px -307px;
}
#mimi_glyphs li.i_80 {
    background-position: -393px -307px;
}
#mimi_glyphs li.i_1:hover {
    background-position: -18px -355px;
}
#mimi_glyphs li.i_2:hover {
    background-position: -60px -355px;
}
#mimi_glyphs li.i_3:hover {
    background-position: -101px -355px;
}
#mimi_glyphs li.i_4:hover {
    background-position: -143px -355px;
}
#mimi_glyphs li.i_5:hover {
    background-position: -185px -355px;
}
#mimi_glyphs li.i_6:hover {
    background-position: -227px -355px;
}
#mimi_glyphs li.i_7:hover {
    background-position: -268px -355px;
}
#mimi_glyphs li.i_8:hover {
    background-position: -310px -355px;
}
#mimi_glyphs li.i_9:hover {
    background-position: -352px -355px;
}
#mimi_glyphs li.i_10:hover {
    background-position: -393px -355px;
}
#mimi_glyphs li.i_11:hover {
    background-position: -18px -397px;
}
#mimi_glyphs li.i_12:hover {
    background-position: -60px -397px;
}
#mimi_glyphs li.i_13:hover {
    background-position: -101px -397px;
}
#mimi_glyphs li.i_14:hover {
    background-position: -143px -397px;
}
#mimi_glyphs li.i_15:hover {
    background-position: -185px -397px;
}
#mimi_glyphs li.i_16:hover {
    background-position: -227px -397px;
}
#mimi_glyphs li.i_17:hover {
    background-position: -268px -397px;
}
#mimi_glyphs li.i_18:hover {
    background-position: -310px -397px;
}
#mimi_glyphs li.i_19:hover {
    background-position: -352px -397px;
}
#mimi_glyphs li.i_20:hover {
    background-position: -393px -397px;
}
#mimi_glyphs li.i_21:hover {
    background-position: -18px -440px;
}
#mimi_glyphs li.i_22:hover {
    background-position: -60px -440px;
}
#mimi_glyphs li.i_23:hover {
    background-position: -101px -440px;
}
#mimi_glyphs li.i_24:hover {
    background-position: -143px -440px;
}
#mimi_glyphs li.i_25:hover {
    background-position: -185px -440px;
}
#mimi_glyphs li.i_26:hover {
    background-position: -227px -440px;
}
#mimi_glyphs li.i_27:hover {
    background-position: -268px -440px;
}
#mimi_glyphs li.i_28:hover {
    background-position: -310px -440px;
}
#mimi_glyphs li.i_29:hover {
    background-position: -352px -440px;
}
#mimi_glyphs li.i_30:hover {
    background-position: -393px -440px;
}
#mimi_glyphs li.i_31:hover {
    background-position: -18px -482px;
}
#mimi_glyphs li.i_32:hover {
    background-position: -60px -482px;
}
#mimi_glyphs li.i_33:hover {
    background-position: -101px -482px;
}
#mimi_glyphs li.i_34:hover {
    background-position: -143px -482px;
}
#mimi_glyphs li.i_35:hover {
    background-position: -185px -482px;
}
#mimi_glyphs li.i_36:hover {
    background-position: -227px -482px;
}
#mimi_glyphs li.i_37:hover {
    background-position: -268px -482px;
}
#mimi_glyphs li.i_38:hover {
    background-position: -310px -482px;
}
#mimi_glyphs li.i_39:hover {
    background-position: -352px -482px;
}
#mimi_glyphs li.i_40:hover {
    background-position: -393px -482px;
}
#mimi_glyphs li.i_41:hover {
    background-position: -18px -521px;
}
#mimi_glyphs li.i_42:hover {
    background-position: -60px -521px;
}
#mimi_glyphs li.i_43:hover {
    background-position: -101px -521px;
}
#mimi_glyphs li.i_44:hover {
    background-position: -143px -521px;
}
#mimi_glyphs li.i_45:hover {
    background-position: -185px -521px;
}
#mimi_glyphs li.i_46:hover {
    background-position: -227px -521px;
}
#mimi_glyphs li.i_47:hover {
    background-position: -268px -521px;
}
#mimi_glyphs li.i_48:hover {
    background-position: -310px -521px;
}
#mimi_glyphs li.i_49:hover {
    background-position: -352px -521px;
}
#mimi_glyphs li.i_50:hover {
    background-position: -393px -521px;
}
#mimi_glyphs li.i_51:hover {
    background-position: -18px -561px;
}
#mimi_glyphs li.i_52:hover {
    background-position: -60px -561px;
}
#mimi_glyphs li.i_53:hover {
    background-position: -101px -561px;
}
#mimi_glyphs li.i_54:hover {
    background-position: -143px -561px;
}
#mimi_glyphs li.i_55:hover {
    background-position: -185px -561px;
}
#mimi_glyphs li.i_56:hover {
    background-position: -227px -561px;
}
#mimi_glyphs li.i_57:hover {
    background-position: -268px -561px;
}
#mimi_glyphs li.i_58:hover {
    background-position: -310px -561px;
}
#mimi_glyphs li.i_59:hover {
    background-position: -352px -561px;
}
#mimi_glyphs li.i_60:hover {
    background-position: -393px -561px;
}
#mimi_glyphs li.i_61:hover {
    background-position: -18px -596px;
}
#mimi_glyphs li.i_62:hover {
    background-position: -60px -596px;
}
#mimi_glyphs li.i_63:hover {
    background-position: -101px -596px;
}
#mimi_glyphs li.i_64:hover {
    background-position: -143px -596px;
}
#mimi_glyphs li.i_65:hover {
    background-position: -185px -596px;
}
#mimi_glyphs li.i_66:hover {
    background-position: -227px -596px;
}
#mimi_glyphs li.i_67:hover {
    background-position: -268px -596px;
}
#mimi_glyphs li.i_68:hover {
    background-position: -310px -596px;
}
#mimi_glyphs li.i_69:hover {
    background-position: -352px -596px;
}
#mimi_glyphs li.i_70:hover {
    background-position: -393px -596px;
}
#mimi_glyphs li.i_71:hover {
    background-position: -18px -638px;
}
#mimi_glyphs li.i_72:hover {
    background-position: -60px -638px;
}
#mimi_glyphs li.i_73:hover {
    background-position: -101px -638px;
}
#mimi_glyphs li.i_74:hover {
    background-position: -143px -638px;
}
#mimi_glyphs li.i_75:hover {
    background-position: -185px -638px;
}
#mimi_glyphs li.i_76:hover {
    background-position: -227px -638px;
}
#mimi_glyphs li.i_77:hover {
    background-position: -268px -638px;
}
#mimi_glyphs li.i_78:hover {
    background-position: -310px -638px;
}
#mimi_glyphs li.i_79:hover {
    background-position: -352px -638px;
}
#mimi_glyphs li.i_80:hover {
    background-position: -393px -638px;
}
#mimi_glyphs li:hover {
    cursor: pointer;
}

//end glyphs



// SPINNERS

.spinners{
    list-style: none;
    margin: 0;
    
    li{
        display: inline-block;
        float: left;
        width: 64px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        margin: (@baseLineHeight /2);
    }
    
    img{
        max-width: 50%;
    }
}