<div class="left-panel composer">
    <div class="content">
        <form class="add-dependency-form" ng-controller="ComposerAddDepCtrl" ng-submit="send()">
            <fieldset>
                
                <label>
                    <p>{{ "composer.dependency.name" | trans }}: </p>
                    <input class="has-search-icon" ng-model="depName" required type="text" placeholder="Ex: symfony/symfony" 
                        auto-complete="{{ 'coddictdevextra.packagist-search.search' | path }}"
                        auto-complete-emit="searchDepName"
                    />
                    <i ng-class="{'icon-search':!searching, 'icon-spinner icon-spin':searching}"></i>
                </label>
            
                <label>
                    <p>{{ "composer.dependency.version" | trans }}: </p>
                    <input ng-model="depVersion" required type="text" placeholder="Ex: 2.2.*"
                        auto-complete-suggest="{{ 'coddictdevextra.packagist-search.get-package-versions' | path:{name: depName} }}"
                    />
                </label>
                
                <div>
                    <button 
                        ng-disabled="waitingResponse" 
                        ng-class="{'btn-success': isSuccess, 'btn-danger': isError}" class="btn btn-primary">
                        <i ng-show="waitingResponse" class="icon-spinner icon-spin"></i> 
                        {{ "composer.dependency.add" | trans }}
                    </button> <span ng-bind-html-unsafe="message"></span>
                </div>
                
            </fieldset>
        </form>
        
    </div>
    <div class="close-arrow" onclick="$('body').toggleClass('retracted')"></div>
</div>
<div class="main-content composer">
    <div ng-controller="ComposerCtrl">
        
        <div class="all-dependencies">
            <legend>
                {{ "composer.dependency.all" | trans }} 
                <i ng-click="refreshAllDependencies()" ng-class="{'icon-spin': isUpdating}" class="icon-refresh clickable"></i>
            </legend>
            <div class="table-container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ "composer.dependency.name" | trans }}</th>
                            <th>{{ "composer.dependency.version" | trans }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(name, version) in dependencies">
                            <td>{{ name }}</td>
                            <td input-if="isEditing(name)" 
                                input-if-model="editingDep.newVersion"
                                input-if-class="input-small" 
                                input-if-suggest="{{ 'coddictdevextra.packagist-search.get-package-versions' | path:{name: name} }}"
                            >{{ version }}</td>
                            <td>
                                <i ng-click="toggleEditDep(name, version)" ng-class="{'icon-pencil':!isEditing(name), 'icon-ok':isEditing(name)}" class="clickable"></i>
                                <i ng-click="removeDep(name)" class="icon-trash clickable"></i>
                            </td>
                        </tr>
                        <tr ng-show="noDependencies()">
                            <td colspan="2" class="text-center">
                                {{ "composer.dependency.none" | trans }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div btsp-modal="testing" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{ "composer.errMsgHeader" | trans }}</h3>
            </div>
            <div class="modal-body">
                <p class="alert alert-error">{{ errorMsg }}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
        
    </div>
</div>