.composer{

    .all-dependencies{
        .table-container{
            padding: 0 50px;
        }
    }
    
    .add-dependency-form{
        input.has-search-icon{
            padding-right: 22px;
            width: 190px;
        }
        
        .icon-search, .icon-spinner{
            color: #666;
            position: relative;
            right: 23px;
            bottom: 4px;
        }
    }
}