html, body{
    width: 100%;
    height: 100%;
}

body{
    background: url('../img/panel_bck.jpg') repeat;
}

.clickable[class^="icon-"], .clickable[class*=" icon-"]{
    cursor: pointer;

    &:hover{
        color: #15C;
    }
}

@import "content-panels.less";
@import "menu.less";
@import "login.less";
@import "composer.less";