<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Test Layout!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts_head %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %} >
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
